extends layout

block content
  h1= title
  p(class='error')= error
  p(class='success')= message
  form(id='playerform', method='post')
    table
      thead
        tr.head
          th Player
          th Character
          th Forcefield
          th Stamina
          th HP
          th Resolve
      tbody
        each player, i in players
          tr()
            td #{player.name}
              input(type='hidden' name="player[#{i}][name]", value="#{player.character.name}")
              input(type='hidden' name="player[#{i}][id]", value="#{player.character.id}")
            td #{player.character.name}
            td
              input(name="player[#{i}][current_forcefield]", type='number', value=player.character.current_forcefield)
            td
              input(name="player[#{i}][current_stamina]", type='number', value=player.character.current_stamina)
            td
              input(name="player[#{i}][current_hp]", type='number', value=player.character.current_hp)
            td
              input(name="player[#{i}][current_resolve]", type='number', value=player.character.current_resolve)
    p
    input(id='submit', type='submit' value='Submit' class='myButton')
  p
  p
  p
  h1= 'Party Experience'
  form(id='partyform,' method='post', action='/controlpanel/party')
    table
      thead
        tr.head
          th Current Level
          th Current Experience
          th Experience to Next Level
      tbody
        tr()
          td #{party.level}
          td
            input(name="party[experience]" class='xp' type='number' step='100' value=party.current_xp)
          td #{party.next_xp}
    p
    input(id='submit_xp' type='submit' value='Submit' class='myButton')



  script(src='/jquery/jquery.js')
  script(type="text/javascript").
      $('#playerform').submit(function(){
            $(':submit').attr('disabled', 'disabled');
            $('input').attr('readonly', 'readonly');
            return true;
          }
      )
  script(type="text/javascript").
      $('#partyform').submit(function () {
              $(':submit').attr('disabled', 'disabled');
              $('input').attr('readonly', 'readonly');
              return true;
          }
      )

